<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.ActivityrecordsMapper">
  <resultMap id="BaseResultMap" type="org.loversAPP.model.Activityrecords">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="loverID" jdbcType="VARCHAR" property="loverid" />
    <result column="totalSteps" jdbcType="INTEGER" property="totalsteps" />
    <result column="Area" jdbcType="DOUBLE" property="area" />
  </resultMap>
</mapper>