<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.GoDieMapper">
  <cache type="org.loversAPP.Cache.RedisCache"/>
  <resultMap id="BaseResultMap" type="org.loversAPP.model.GoDie">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userItemID" jdbcType="INTEGER" property="useritemid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="userID" jdbcType="INTEGER" property="userid"/>
    <result column="reciveID" javaType="INTEGER" property="reciveID"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userItemID, time, userID
  </sql>
  <select id="selectByExample" parameterType="org.loversAPP.model.GoDieExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from go_die
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from go_die
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from go_die
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.loversAPP.model.GoDieExample">
    delete from go_die
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.loversAPP.model.GoDie">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into go_die (userItemID, time, userID
    )
    values (#{useritemid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="org.loversAPP.model.GoDie">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into go_die
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="useritemid != null">
        userItemID,
      </if>
      <if test="reciveID !=null">
        reciveID,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="userid != null">
        userID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="useritemid != null">
        #{useritemid,jdbcType=INTEGER},
      </if>
      <if test="reciveID !=null">
        #{reciveID,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.loversAPP.model.GoDieExample" resultType="java.lang.Long">
    select count(*) from go_die
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update go_die
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.useritemid != null">
        userItemID = #{record.useritemid,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update go_die
    set id = #{record.id,jdbcType=INTEGER},
    userItemID = #{record.useritemid,jdbcType=INTEGER},
    time = #{record.time,jdbcType=TIMESTAMP},
    userID = #{record.userid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.loversAPP.model.GoDie">
    update go_die
    <set>
      <if test="useritemid != null">
        userItemID = #{useritemid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.loversAPP.model.GoDie">
    update go_die
    set userItemID = #{useritemid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      userID = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getDogActByID" resultType="java.lang.Integer">
    SELECT
count(*)
FROM
go_die
WHERE
go_die.reciveID=#{userID}
  </select>
  <select id="getGoDieFeedBackByID" resultType="org.loversAPP.DTO.GoDieFeeBack">
    SELECT
`user`.stepsToday AS steps,
go_die.userItemID itemID
FROM
go_die ,
`user`
WHERE
go_die.userID = `user`.id
AND go_die.userID=#{userID}
  </select>
  <delete id="deleteGoDieByID">
    DELETE FROM go_die WHERE userID=#{userID}
  </delete>
  <select id="getTempGoDie" resultType="org.loversAPP.DTO.TempGoDie">
      SELECT
Count(go_die.reciveID) count,
go_die.reciveID,
go_die.id,
go_die.time
FROM `go_die`
GROUP BY
go_die.reciveID
  </select>
  <delete id="deleteGoDieByPrimairyKey">
    DELETE from `go_die`
    WHERE id=#{id}
  </delete>
</mapper>