<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.ItemMapper">
  <resultMap id="BaseResultMap" type="org.loversAPP.model.Item">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="itemName" jdbcType="VARCHAR" property="itemname" />
    <result column="itemFunction" jdbcType="VARCHAR" property="itemfunction" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="itemImage" jdbcType="VARCHAR" property="itemimage" />
  </resultMap>
</mapper>