<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.LoverShipMapper">
  <resultMap id="BaseResultMap" type="org.loversAPP.model.LoverShip">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="loverGirlID" jdbcType="INTEGER" property="lovergirlid" />
    <id column="loverBoyID" jdbcType="INTEGER" property="loverboyid" />
    <result column="loveTime" jdbcType="TIMESTAMP" property="lovetime" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="loverID" jdbcType="VARCHAR" property="loverid" />
    <result column="checkinDays" jdbcType="INTEGER" property="checkindays" />
  </resultMap>
</mapper>