<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.LoverDogMapper">
    <!--<cache type="org.loversAPP.Cache.RedisCache"/>-->
    <insert id="insertLoverDog" parameterType="org.loversAPP.model.LoverDog">
      INSERT lover_dog(userID,insertTime,loverID,ItemID) VALUES(#{loverDog.userID},#{loverDog.inserttime},
      #{loverDog.loverid},#{loverDog.itemID});
    </insert>
    <select id="getDogHeadByID" resultType="java.lang.Integer">
    SELECT count(*)
FROM `lover_dog`
WHERE
lover_dog.loverID=#{loverID}
  </select>
    <select id="getLoverDogCount" resultType="org.loversAPP.DTO.LoverDogCount">
        SELECT
Count(lover_dog.loverID) count,
lover_dog.loverID,
lover_dog.insertTime,
lover_dog.id
FROM
	`lover_dog`
GROUP BY
lover_dog.loverID

    </select>
    <delete id="deleteLoverDogByID">
        delete from lover_dog WHERE id=#{id}
    </delete>
</mapper>