<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.TextRecordsMapper">
  <resultMap id="BaseResultMap" type="org.loversAPP.model.TextRecords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="recordsID" jdbcType="INTEGER" property="recordsid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="publishDate" jdbcType="TIMESTAMP" property="publishdate" />
    <result column="longtitude" jdbcType="VARCHAR" property="longtitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, recordsID, userID, text, publishDate, longtitude, latitude
  </sql>
  <select id="selectByExample" parameterType="org.loversAPP.model.TextRecordsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from text_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from text_records
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from text_records
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.loversAPP.model.TextRecordsExample">
    delete from text_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.loversAPP.model.TextRecords">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into text_records (recordsID, userID, text,
    publishDate, longtitude, latitude
    )
    values (#{recordsid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR},
    #{publishdate,jdbcType=TIMESTAMP}, #{longtitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="org.loversAPP.model.TextRecords">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into text_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordsid != null">
        recordsID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="publishdate != null">
        publishDate,
      </if>
      <if test="longtitude != null">
        longtitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordsid != null">
        #{recordsid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="longtitude != null">
        #{longtitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.loversAPP.model.TextRecordsExample" resultType="java.lang.Long">
    select count(*) from text_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="getTextsByUserID" resultType="org.loversAPP.DTO.UserText">
      SELECT
`user`.userName,
`user`.avator,
text_records.text,
text_records.publishDate,
text_records.longtitude,
text_records.latitude
FROM
text_records ,
`user`
WHERE
text_records.userID = `user`.id AND
text_records.userID=#{userid}

    </select>
  <select id="getTextsByRecordsID" resultType="org.loversAPP.DTO.UserText">
    SELECT
`user`.userName,
`user`.avator,
text_records.text,
text_records.publishDate,
text_records.longtitude,
text_records.latitude
FROM
text_records ,
`user`
WHERE
text_records.userID = `user`.id AND
text_records.recordsID=#{recordsID}

  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update text_records
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.recordsid != null">
        recordsID = #{record.recordsid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.text != null">
        text = #{record.text,jdbcType=VARCHAR},
      </if>
      <if test="record.publishdate != null">
        publishDate = #{record.publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.longtitude != null">
        longtitude = #{record.longtitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update text_records
    set id = #{record.id,jdbcType=INTEGER},
    recordsID = #{record.recordsid,jdbcType=INTEGER},
    userID = #{record.userid,jdbcType=INTEGER},
    text = #{record.text,jdbcType=VARCHAR},
    publishDate = #{record.publishdate,jdbcType=TIMESTAMP},
    longtitude = #{record.longtitude,jdbcType=VARCHAR},
    latitude = #{record.latitude,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.loversAPP.model.TextRecords">
    update text_records
    <set>
      <if test="recordsid != null">
        recordsID = #{recordsid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        publishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="longtitude != null">
        longtitude = #{longtitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.loversAPP.model.TextRecords">
    update text_records
    set recordsID = #{recordsid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      text = #{text,jdbcType=VARCHAR},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      longtitude = #{longtitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>