<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.TreasureMapper">
  <resultMap id="BaseResultMap" type="org.loversAPP.model.Treasure">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="userID" jdbcType="INTEGER" property="userid" />
    <id column="treasureType" jdbcType="INTEGER" property="treasuretype" />
    <result column="treasureName" jdbcType="VARCHAR" property="treasurename" />
    <result column="treasureValue" jdbcType="INTEGER" property="treasurevalue" />
  </resultMap>
</mapper>