<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.UserItemMapper">
  <resultMap id="BaseResultMap" type="org.loversAPP.model.UserItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
  </resultMap>
</mapper>