<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.loversAPP.dao.UserMapper">
  <resultMap id="BaseResultMap" type="org.loversAPP.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="passWord" jdbcType="VARCHAR" property="password" />
    <result column="avator" jdbcType="VARCHAR" property="avator" />
    <result column="wexID" jdbcType="VARCHAR" property="wexid" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="inviteCode" jdbcType="VARCHAR" property="invitecode" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="stauts" jdbcType="INTEGER" property="stauts" />
    <result column="longtitude" jdbcType="DECIMAL" property="longtitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="stepsToday" jdbcType="INTEGER" property="stepstoday" />
    <result column="checkinDays" jdbcType="INTEGER" property="checkindays" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="hobby" jdbcType="VARCHAR" property="hobby" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="backImage" jdbcType="VARCHAR" property="backimage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userName, passWord, avator, wexID, qq, phoneNumber, level, signature, inviteCode, 
    sex, stauts, longtitude, latitude, stepsToday, checkinDays, age, height, weight, 
    hobby, exp, backImage
  </sql>
  <select id="selectByExample" parameterType="org.loversAPP.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="getAllUsers" resultMap="BaseResultMap">
    SELECT * FROM user
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.loversAPP.model.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.loversAPP.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (userName, passWord, avator, 
      wexID, qq, phoneNumber, 
      level, signature, inviteCode, 
      sex, stauts, longtitude, 
      latitude, stepsToday, checkinDays, 
      age, height, weight, 
      hobby, exp, backImage
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{avator,jdbcType=VARCHAR}, 
      #{wexid,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{signature,jdbcType=VARCHAR}, #{invitecode,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{stauts,jdbcType=INTEGER}, #{longtitude,jdbcType=DECIMAL}, 
      #{latitude,jdbcType=DECIMAL}, #{stepstoday,jdbcType=INTEGER}, #{checkindays,jdbcType=INTEGER}, 
      #{age,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, 
      #{hobby,jdbcType=VARCHAR}, #{exp,jdbcType=INTEGER}, #{backimage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.loversAPP.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        passWord,
      </if>
      <if test="avator != null">
        avator,
      </if>
      <if test="wexid != null">
        wexID,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="phonenumber != null">
        phoneNumber,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="invitecode != null">
        inviteCode,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="stauts != null">
        stauts,
      </if>
      <if test="longtitude != null">
        longtitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="stepstoday != null">
        stepsToday,
      </if>
      <if test="checkindays != null">
        checkinDays,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="hobby != null">
        hobby,
      </if>
      <if test="exp != null">
        exp,
      </if>
      <if test="backimage != null">
        backImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avator != null">
        #{avator,jdbcType=VARCHAR},
      </if>
      <if test="wexid != null">
        #{wexid,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="invitecode != null">
        #{invitecode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="stauts != null">
        #{stauts,jdbcType=INTEGER},
      </if>
      <if test="longtitude != null">
        #{longtitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="stepstoday != null">
        #{stepstoday,jdbcType=INTEGER},
      </if>
      <if test="checkindays != null">
        #{checkindays,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="hobby != null">
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="backimage != null">
        #{backimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.loversAPP.model.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        passWord = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.avator != null">
        avator = #{record.avator,jdbcType=VARCHAR},
      </if>
      <if test="record.wexid != null">
        wexID = #{record.wexid,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenumber != null">
        phoneNumber = #{record.phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.signature != null">
        signature = #{record.signature,jdbcType=VARCHAR},
      </if>
      <if test="record.invitecode != null">
        inviteCode = #{record.invitecode,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.stauts != null">
        stauts = #{record.stauts,jdbcType=INTEGER},
      </if>
      <if test="record.longtitude != null">
        longtitude = #{record.longtitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.stepstoday != null">
        stepsToday = #{record.stepstoday,jdbcType=INTEGER},
      </if>
      <if test="record.checkindays != null">
        checkinDays = #{record.checkindays,jdbcType=INTEGER},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.hobby != null">
        hobby = #{record.hobby,jdbcType=VARCHAR},
      </if>
      <if test="record.exp != null">
        exp = #{record.exp,jdbcType=INTEGER},
      </if>
      <if test="record.backimage != null">
        backImage = #{record.backimage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{record.id,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      passWord = #{record.password,jdbcType=VARCHAR},
      avator = #{record.avator,jdbcType=VARCHAR},
      wexID = #{record.wexid,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      phoneNumber = #{record.phonenumber,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=INTEGER},
      signature = #{record.signature,jdbcType=VARCHAR},
      inviteCode = #{record.invitecode,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      stauts = #{record.stauts,jdbcType=INTEGER},
      longtitude = #{record.longtitude,jdbcType=DECIMAL},
      latitude = #{record.latitude,jdbcType=DECIMAL},
      stepsToday = #{record.stepstoday,jdbcType=INTEGER},
      checkinDays = #{record.checkindays,jdbcType=INTEGER},
      age = #{record.age,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      hobby = #{record.hobby,jdbcType=VARCHAR},
      exp = #{record.exp,jdbcType=INTEGER},
      backImage = #{record.backimage,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.loversAPP.model.User">
    update user
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        passWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avator != null">
        avator = #{avator,jdbcType=VARCHAR},
      </if>
      <if test="wexid != null">
        wexID = #{wexid,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null">
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="invitecode != null">
        inviteCode = #{invitecode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="stauts != null">
        stauts = #{stauts,jdbcType=INTEGER},
      </if>
      <if test="longtitude != null">
        longtitude = #{longtitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="stepstoday != null">
        stepsToday = #{stepstoday,jdbcType=INTEGER},
      </if>
      <if test="checkindays != null">
        checkinDays = #{checkindays,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="hobby != null">
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="backimage != null">
        backImage = #{backimage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.loversAPP.model.User">
    update user
    set userName = #{username,jdbcType=VARCHAR},
      passWord = #{password,jdbcType=VARCHAR},
      avator = #{avator,jdbcType=VARCHAR},
      wexID = #{wexid,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      signature = #{signature,jdbcType=VARCHAR},
      inviteCode = #{invitecode,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      stauts = #{stauts,jdbcType=INTEGER},
      longtitude = #{longtitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      stepsToday = #{stepstoday,jdbcType=INTEGER},
      checkinDays = #{checkindays,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      hobby = #{hobby,jdbcType=VARCHAR},
      exp = #{exp,jdbcType=INTEGER},
      backImage = #{backimage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>